<div class="seller-auth">
  <div class="signup">
    <form [formGroup]="sellersignup" class="common-form">
      <h1>Seller sign-up</h1>
      <input
        type="text"
        class="form-input"
        formControlName="name"
        placeholder="Name"
      />
      <div>
        <small
          *ngIf="sellersignup.get('name')?.hasError?.('required') && sellersignup.get('name')?.touched"
          >name is required.</small
        >
      </div>
      <input
        type="text"
        class="form-input"
        formControlName="email"
        placeholder="Email"
      />
      <div>
        <small
          *ngIf="sellersignup.get('email')?.hasError?.('required') && sellersignup.get('email')?.touched"
          >Email is required.</small
        >
        <small *ngIf="sellersignup.get('email')?.hasError?.('email')"
          >Email is invalid.</small
        >
      </div>

      <input
        type="password"
        class="form-input"
        formControlName="password"
        placeholder="Password"
      />
      <div>
        <small *ngIf="sellersignup.get('password')?.hasError?.('minlength')"
          >Password must be at least 6 characters long.</small
        >
        <small
          *ngIf="sellersignup.get('password')?.hasError?.('required') && sellersignup.get('password')?.touched"
          >Password is required.</small
        >
      </div>

      <button type="submit" class="form-button" (click)="onSubmit()">
        Signup
      </button>
      <span class="color-red">You  Have Account <a routerLink="login" routerLinkActive="active">Click</a></span>

    </form>
  </div>
</div>
