<nav class="nav">
  <h1>E-COM</h1>
  <div class="nav-search">
    <input type="text" placeholder="Search here..." />
    <button>Search</button>
  </div>
  <ul>
    <li>
      <a routerLink="home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="seller-auth" routerLinkActive="active">seller</a>
    </li>
    <li>
      <a routerLink="login" routerLinkActive="active">Login</a>
    </li>
    <li>
      <a routerLink="/#" routerLinkActive="active">Cart</a>
    </li>
  </ul>
</nav>
